<header class="navbar navbar-expand-lg  bg-white shadow-effect">
    <div class="container justify-content-center">
        <a class="logo">Ang-Blog</a>
    </div>
    <div class="container justify-content-center" *ngIf="isLoggedIn$ | async">
        <a class="logo logo-hover" routerLink="/">DASHBOARD</a>
    </div>

    <div class="container justify-content-center" *ngIf="isLoggedIn$ | async">
        <a class="email-text mr-3" >{{userEmail}}</a>
        <button class="btn btn-sm btn-success" (click)="onLogOut()">Logout</button>
    </div>
</header>

