header{
    height: 100px;
}

.logo{
    padding: 5px 20px;
    border-radius: 20px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 1.5em;
    cursor: pointer;
    text-decoration: none;
    transition: all .5s ease-in-out;
}

.logo:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}