header{
    height: 100px;
}

.logo{
    padding: 8px 24px;
    border-radius: 20px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 1.5em;
    letter-spacing: 1px;
    
    text-decoration: none;
    transition: all .5s ease-in-out;
}

.logo-hover:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    cursor: pointer;
}

.btn{
    padding: 8px 24px;
    border: none;
    border-radius: 20px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 1.5em;
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: none;
    transition: all .5s ease-in-out;
}
.btn:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.email-text{
    font-size: 24px;
    text-decoration: none;
}