/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import "~ngx-toastr/toastr";

:root{
    --primary-color: rgb(5, 80, 44) !important;
    --secondary-color: #E5F5EA;
    --body-text-color: #596392;
    --navbar-footer-color: #F9F9F9;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: var(--body-text-color);
}

.logo{
    padding: 5px 20px;
    border-radius: 20px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 1.2em;
}

.nav-link{
    color: var(--primary-color);
}

.shadow-effect{
    border: none!important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.bg-theme{
    background-color: var(--primary-color);
}

.bg-secondary-theme{
    background-color: var(--secondary-color)!important;
}

.text-theme-primary{
    color: var(--primary-color);
}

.design,
.featured,
.views{
  color: #fff;
  padding: 5px 15px;
  border-radius: 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.design {
  background-color: #dc3545;
}

.featured {
  background-color: #28a745;
}

.views{
    background-color: #17a2b8;
}

.update-text{
    color: rgb(172, 171, 171);
    font-size: 16px;
}

.btn-theme{
    background-color: var(--primary-color)!important;
    color: white!important;
    padding: 15px;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}
.btn-theme:hover{
    opacity: 0.8;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

input[type = text], input[type = email]{
    height: 60px;
    padding-left: 20px;
    font-size: 14px;
    width: 100%;
}

